﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AuthCss.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <h1 class="text-center">Fitness</h1>
                <br />
                <div class="panel panel-default box-shadow">
                    <div class="panel-heading">
                        <span class="text-primary">Sign Up</span>
                        <span class="text-muted pull-right today" title="Today"></span>
                    </div><!--.panel-heading-->
                    <div class="panel-body">
                        <form action="@Url.Action("PostRegister","Auth")" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="email">Name</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                    <input autofocus required type="text" name="Name" id="email" class="form-control" placeholder="Your name" tabindex="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                                    <input autofocus required type="email" name="Email" id="email" class="form-control" placeholder="Your email" tabindex="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                                    <input required type="password" name="Password" class="form-control" placeholder="Your password" tabindex="2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Upload Profile Picture</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></div>
                                    <input required type="file" name="profile" class="form-control"tabindex="2">
                                </div>
                            </div>
                            <div class="form-group">
                                @if (ViewBag.message != null)
                                {
                                    <p class="text-danger">@ViewBag.message</p>
                                }
                            </div>
                            <button type="submit" class="btn btn-block btn-primary" tabindex="3">Sign Up</button>
                            <p class="text-center text-muted h4">
                                Already have account?
                            </p>
                            <a href="@Url.Action("Login","Auth")" class="btn btn-block btn-success" tabindex="5">Login</a>
                        </form>
                    </div>
                </div><!--.panel-->
            </div><!--.cols-->
        </div><!--.row-->
    </div><!--.container-->
    <script>
        $(document).ready(function () {
            var today = new Date().toDateString();
            $('.today').html(today);
        })
    </script>
</body>
</html>

