﻿body {
    background-image: url('images/bg.jpg');
    background-size: cover;
}

.box-shadow {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}
