﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>editProfile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h1>Edit Profile</h1>
        <hr>
        
            @if (ViewBag.user != null)
            {
                <div class="row">
            <form action="@Url.Action("changeProfile","Home")" method="post" enctype="multipart/form-data">

                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="@Url.Content(ViewBag.user.ProfilePicture)" class="avatar img-circle" alt="avatar" height="100" width="100">
                        <h6>Upload a different photo...</h6>

                        <input type="file" class="form-control">
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    @if (ViewBag.info != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            @ViewBag.info
                        </div>
                    }
                    
                    <h3 class="page-header">Personal info</h3>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="Name" value="@ViewBag.user.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="Email" name="Email" value="@ViewBag.user.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" name="Password" value="@ViewBag.user.Password">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="col-lg-3 control-label">Weight:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="number" name="weight" value="@ViewBag.log.weight">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Height:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="number" name="height" value="@ViewBag.log.height">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Calories:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="number" value="@ViewBag.log.calories">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Exercises:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="exercises" value="@ViewBag.log.exercises">
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="button" class="btn btn-primary" value="Save Changes">
                            <span></span>
                            <input type="reset" class="btn btn-default" value="Cancel">
                        </div>
                    </div>
            </form>
                    </div>
            }
            else
            {
                <div class="row">
                    <div class="alert alert-danger alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        This is no <strong>record</strong> exist.
                    </div>
                </div>
            }
    <hr>
</body>
</html>
