﻿@{
    ViewBag.Title = "Home Page";
}

<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url('../../Content/images/home-image.jpg');">
        <div class="desc animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Fitness &amp; Health <br>is a <b>Mentality</b></h2>
                        <p><span>The human body is the best picture of the human soul.</span></p>
                        <span><a class="btn btn-primary" href="#">Start Your Plan</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:fh5co-hero -->
<div id="fh5co-schedule-section" class="fh5co-lightgray-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading-section text-center animate-box">
                    <h2>Add Log Summary</h2>
                    <p>Current phisycal attributes</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="@Url.Action("addLog","Home")" method="post">
                    <div class="form-group">
                        <label class="control-label">Weight</label>
                        <input type="number" class="form-control" name="weight" placeholder="Weight in Kg"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Height</label>
                        <input type="number" class="form-control" name="height" placeholder="Height"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Calories</label>
                        <input type="number" class="form-control" name="calories" placeholder="Calories"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Exercises</label>
                        <input type="text" class="form-control" name="exercises" placeholder="Exercise"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn brn-primary" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading-section text-center animate-box">
                    <h2>Week Plans</h2>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="schedule">
                    <li><a href="#" class="active" data-sched="sunday">Sunday</a></li>
                    <li><a href="#" data-sched="monday">Monday</a></li>
                    <li><a href="#" data-sched="tuesday">Tuesday</a></li>
                    <li><a href="#" data-sched="wednesday">Wednesday</a></li>
                    <li><a href="#" data-sched="thursday">Thursday</a></li>
                    <li><a href="#" data-sched="monday">Friday</a></li>
                    <li><a href="#" data-sched="saturday">Saturday</a></li>
                </ul>
            </div>
            <div class="row text-center">

                <div class="col-md-12 schedule-container">

                    <div class="schedule-content active" data-day="sunday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>John Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>James Smith</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Rita Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="monday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>James Smith</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>John Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Rita Doe</span>
                            </div>
                        </div>

                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="tuesday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>John Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>James Smith</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Rita Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="wednesday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>James Smith</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>John Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Rita Doe</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="thursday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>John Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>James Smith</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Rita Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="friday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>James Smith</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>John Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Rita Doe</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->

                    <div class="schedule-content" data-day="saturday">
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Body Building</h3>
                                <span>John Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Yoga Programs</h3>
                                <span>James Smith</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="">
                                <small>06AM-7AM</small>
                                <h3>Cycling Program</h3>
                                <span>Rita Doe</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="program program-schedule">
                                <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                                <small>06AM-7AM</small>
                                <h3>Boxing Fitness</h3>
                                <span>John Dose</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sched-content -->
                </div>


            </div>
        </div>
    </div>
</div>
<div class="fh5co-parallax" style="background-image: url('../../Content/images/home-image-3.jpg'); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell animate-box">
                    <h1 class="text-center">Commit To Be Fit</h1>
                    <p>To enjoy the glow of good health, you must exercise.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-pricing-section" class="fh5co-pricing fh5co-lightgray-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading-section text-center animate-box">
                    <h2>Select Plans</h2>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-6">
                <div class="program animate-box">
                    <img src="~/Content/images/fit-dumbell.svg" alt="Cycling">
                    <h3>Body Combat</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    <span><a href="#" class="btn btn-default">Join Now</a></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="program animate-box">
                    <img src="~/Content/images/fit-yoga.svg" alt="">
                    <h3>Yoga Programs</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    <span><a href="#" class="btn btn-default">Join Now</a></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="program animate-box">
                    <img src="~/Content/images/fit-cycling.svg" alt="">
                    <h3>Cycling Program</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    <span><a href="#" class="btn btn-default">Join Now</a></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="program animate-box">
                    <img src="~/Content/images/fit-boxing.svg" alt="Cycling">
                    <h3>Boxing Fitness</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    <span><a href="#" class="btn btn-default">Join Now</a></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="program animate-box">
                    <img src="~/Content/images/fit-swimming.svg" alt="">
                    <h3>Swimming Program</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    <span><a href="#" class="btn btn-default">Join Now</a></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="program animate-box">
                    <img src="~/Content/images/fit-massage.svg" alt="">
                    <h3>Massage</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    <span><a href="#" class="btn btn-default">Join Now</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="heading-section animate-box">
                        <h2>Recent from Blog</h2>
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-0">
                    <div class="fh5co-blog animate-box">
                        <div class="inner-post">
                            <a href="#"><img class="img-responsive" src="images/blog-1.jpg" alt=""></a>
                        </div>
                        <div class="desc">
                            <h3><a href="" #>Starting new session of body building this summer</a></h3>
                            <span class="posted_by">Posted by: Admin</span>
                            <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                            <p>Far far away, behind the word mountains</p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-0">
                    <div class="fh5co-blog animate-box">
                        <div class="inner-post">
                            <a href="#"><img class="img-responsive" src="images/blog-1.jpg" alt=""></a>
                        </div>
                        <div class="desc">
                            <h3><a href="" #>Starting new session of body building this summer</a></h3>
                            <span class="posted_by">Posted by: Admin</span>
                            <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                            <p>Far far away, behind the word mountains</p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="heading-section animate-box">
                        <h2>Upcoming Events</h2>
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-0">
                    <div class="fh5co-blog animate-box">
                        <div class="meta-date text-center">
                            <p><span class="date">14</span><span>June</span><span>2016</span></p>
                        </div>
                        <div class="desc desc2">
                            <h3><a href="" #>Starting new session of body building this summer</a></h3>
                            <span class="posted_by">Posted by: Admin</span>
                            <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-0">
                    <div class="fh5co-blog animate-box">
                        <div class="meta-date text-center">
                            <p><span class="date">13</span><span>June</span><span>2016</span></p>
                        </div>
                        <div class="desc desc2">
                            <h3><a href="" #>Starting new session of body building this summer</a></h3>
                            <span class="posted_by">Posted by: Admin</span>
                            <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fh5co-blog-section -->